html,
body {
  background: black;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid green;
  margin-top: 150px;
  animation: pic-glow 3s ease infinite;
  width:50%
}

.wrapper {
  text-align: center;
}

.link-button {
  position: absolute;
  width: 15%;
  height: 3%;
  border: none;
  font-family: 'Lucida Console';
  background: #111;
  outline:none;
  border-radius: 10px;
  color:blueviolet;
  animation: anim-glow 5s ease infinite;
}

.btn-space-A {
  left: 18.5%;
}
.btn-space-B {
  left: 34.5%;
}
.btn-space-C {
  left: 50.5%;
}.btn-space-D {
  left: 66.5%;
}

canvas {
  
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
}

.link-button:hover {
  color:black;
  animation: mymove 5s ease infinite;
}

@keyframes anim-glow {
  0% {
    box-shadow: 0 0 10px 8px purple;
  }
  25%{
    box-shadow: 0 0 10px 8px rgb(2, 255, 234);
  }
  50%{
    box-shadow: 0 0 10px 8px rgb(0, 247, 0);
  }
  75%{
    box-shadow: 0 0 10px 8px rgb(255, 238, 5);
  }
  100% {
    box-shadow: 0 0 10px 8px rgb(255, 0, 106);
  }
}

@keyframes mymove {
  0% {
    background-color: blue;
  }
  20% {
    background-color: pink;
  }
  40% {
    background-color: aqua;
  }
  60% {
    background-color: green;
  }
  80% {
    background-color: purple;
  }
  100%{
    background-color: rgb(44, 2, 92);
  }
}

@keyframes pic-glow {
  0% {
    box-shadow: 0 0 10px 8px purple;
  }
  25%{
    box-shadow: 0 0 10px 8px rgb(2, 255, 234);
  }
  50%{
    box-shadow: 0 0 10px 8px rgb(0, 247, 0);
  }
  75%{
    box-shadow: 0 0 10px 8px rgb(255, 238, 5);
  }
  100% {
    box-shadow: 0 0 10px 8px rgb(255, 0, 106);
  }
}
